* {
    font-family: "Roboto";
}
html,
body {
    height: 100%;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
h1{
    color: white;
    font-size: 144px;
    font-weight: 300;
}
h1:hover{
    color: rgb(38, 113, 199);
}